<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css" />
    <title>My app</title>

    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form action="/api/create" method="post">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="description" placeholder="description" />
      <button type="submit">Invia</button>
    </form>

    <i class="fa fa-table" aria-hidden="false">
      <table>
        <tr>
          <td>Heros</td>
          <td>Description</td>
        </tr>
        <% for( let i = 0; i < heros.length; i++ ) { %>
        <tr>
          <!-- <td><%= heros[i]._id %></td> -->
          <td><%= heros[i].name %></td>
          <td><%= heros[i].description %></td>
          <td>
            <button
              id="delete-button"
              class="btn btn-raised btn-danger"
              data-id="<%= heros[i]._id %>"
            >
              Delete
            </button>
          </td>
          <td>
            <button
              id="update-button"
              class="update-button"
              data-id="<%= heros[i]._id %>"
            >
              Update
            </button>
          </td>
        </tr>
        <% } %>
      </table>
    </i>
    <script>
      var deleteButton = $(".btn.btn-raised.btn-danger");

      deleteButton.click(function () {
        var id_hero = $(this).attr("data-id");

        fetch("/api/remove/" + id_hero, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
        });
        // .then((response) => response.json())
        // .then((result) => {
        //   console.log("Success:", result);
        // })
        // .catch((error) => {
        //   console.error("Error:", error);
        // });
      });
    </script>
  </body>
</html>
